In [5]:

library(tidyverse)

player_data <-read_csv("data/players.csv")

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [6]:
player_data |> slice_head(n = 10)

   experience subscribe
1  Pro         TRUE
2  Veteran     TRUE
3  Veteran    FALSE
4  Amateur     TRUE
5  Regular     TRUE
6  Amateur     TRUE
7  Regular     TRUE
8  Amateur    FALSE
9  Amateur     TRUE
10 Veteran     TRUE
   hashedEmail
1  f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2  f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3  b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
4  23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5
5  7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e
6  f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977
7  8e594b8953193b26f498db95a508b03c6fe1c24bb5251d392c18a0da9a722807
8  1d2371d8a35c8831034b25bda8764539ab7db0f63938696917c447128a2540dd
9  8b71f4d66a38389b7528bb38ba6eb71157733df7d1740371852a797ae97d82d1
10 bbe2d83de678f519c4b3daa7265e683b4fe2d814077f9094afd11d8f217039ec
   played_hours name      gender Age
1  30.3         Morgan    Male    9
2   3.8         Christian Male   17
3   0.0         Blake     Male   17
4   0.7         Flora     Female 21
5   0.1         Kylie     Male   21
6   0.0         Adrian    Female 17
7   0.0         Luna      Female 19
8   0.0         Emerson   Male   21
9   0.1         Natalie   Male   47
10  0.0         Nyla      Female 22

In [8]:
# Compute Mean Values for Quantitative Variables == Players Data Set

mean_table <- player_data |>
  summarise(mean_played_hours = mean(played_hours, na.rm = TRUE), 
            mean_age = mean(Age, na.rm = TRUE))

mean_table

  mean_played_hours mean_age
1 5.845918          21.13918